.header-contenedor {
    background: rgb(2, 0, 36);
    background: radial-gradient(circle, rgba(2, 0, 36, 1) 0%, rgba(69, 82, 94, 1) 28%, rgba(219, 13, 13, 0.8799117058932948) 70%, rgba(6, 36, 169, 1) 97%, rgba(11, 46, 53, 1) 100%);
    justify-content: center;
    align-content: center;
}

