body {
    background: rgb(81, 80, 83);
    background: linear-gradient(351deg, rgba(81, 80, 83, 0.9773286023393732) 18%, rgba(220, 227, 233, 1) 42%, rgba(121, 62, 62, 0.9409140365130427) 63%, rgba(173, 121, 93, 1) 76%, rgba(37, 46, 83, 0.8176647367931548) 82%);
}

/*GRIDS*/
.contenedor-proyecto {
    display: grid;
    gap: 10px;
    grid-template-areas:
        "nav"
        "header"
        "main"
        "aside"
        "footer";
    grid-template-columns: 100%;
    grid-template-rows: auto;
}

/*NAVEGACION*/
nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.titulo-principal {
    color: rgb(241, 244, 248);
    font-size: 80px;
    text-align: center;
}

.titulo-principal2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: cornflowerblue;
    font-size: 60px;
    text-align: center
}

.header-contenedor {
    background: rgb(2, 0, 36);
    background: radial-gradient(circle, rgba(2, 0, 36, 1) 0%, rgba(69, 82, 94, 1) 28%, rgba(219, 13, 13, 0.8799117058932948) 70%, rgba(6, 36, 169, 1) 97%, rgba(11, 46, 53, 1) 100%);
    justify-content: center;
    align-content: center;
}

.image-center {
    flex: 25%;
    width: 100%;
    height: auto;
}

.image-prudencio {
    flex: 25%;
    width: 100%;
    height: auto;
}

.segundo-titulo {
    color: rgb(104, 18, 18);
}

#encabezado-tres {
    color: blue;
}

p span {
    color: blue;
}

section {
    padding: 5px 10px 20px;
    border-style: solid;
    mask-border-width: 3px;
    border-color: rgba(42, 54, 54, 0.137);
}

.table-aspect {
    border: 2px 2px 2px;
    margin: auto;

}

.fotos {
    font-size: 20px;
    color: rgb(62, 62, 100);
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;   
}

.lucho1 {
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}

.lucho1:hover {
    transform: scale(2);
}

.lucho2 {
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}

.lucho2:hover {
    transform: scale(2);
}

.lucho3 {
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}

.lucho3:hover {
    transform: scale(2);
}

.lucho4 {
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}

.lucho4:hover {
    transform: scale(2);
}

.lucho5 {
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}

.lucho5:hover {
    transform: scale(2);
}

footer {
    color: rgb(52, 31, 238);
    background-color: white;
    border: 2px solid;
    padding: 20px;
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;         
}

.animation1 {
    animation-name: fade-in; 
    animation-iteration-count: 3;
    animation-timing-function: ease;
    animation-duration: 2s;
    animation-delay: 1s;
}

@keyframes fade-in {
    0%{
        transform: translatex(100px);
    }
    50% {
        transform: translatex(20px);
    }
    100% {
        transform: translatex(0px);
    }
}

#titulo-lista {
    color: rgba(134, 25, 25, 0.644);
}

ul {
    list-style-type: none;
}

ul li {
    display: inline;
    margin: 0 5px;
}

p {
    font-size: 1em;
    font-weight: 300;
    text-align: left;
    font-family: 'Roboto', serif;
}

.fondo-auf {
    background: rgb(52, 107, 217);
    background: linear-gradient(351deg, rgba(52, 107, 217, 0.9773286023393732) 15%, rgba(92, 172, 240, 1) 29%, rgba(242, 242, 242, 0.9409140365130427) 56%, rgba(192, 196, 94, 1) 78%, rgba(76, 104, 221, 0.8176647367931548) 91%);
}

.fondo-ls {
    background: rgb(52, 217, 185);
    background: linear-gradient(351deg, rgba(52, 217, 185, 0.9773286023393732) 0%, rgba(42, 47, 51, 1) 23%, rgba(143, 143, 143, 0.9409140365130427) 43%, rgba(94, 196, 135, 1) 69%, rgba(233, 233, 234, 0.8176647367931548) 77%);
}

.sector-imagen {
    background-image: url(pictures/Escudo_del_Club_Nacional_de_Football.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    flex-wrap: wrap;
}

h3 {
    color: rgba(80, 7, 7, 0.664);
    text-align: center;
}

.texto-club {
    font-size: 1em;
    font-weight: 150;
    text-align: left;
    font-family: 'Roboto', serif;
}



/*MQ MOBILE*/
@media only screen and (max-width: 768px) {
    nav {
        color: darkblue;
        background-color: whitesmoke;
        font-size: 12px;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 10px 10px 10px 10px 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .fotos {
        color: blue;
        background-color: aliceblue;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        justify-content: center;
    }

    .galeria {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        justify-content: center;
        display: flex flex-wrap: wrap;
    }

    .multimedia {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        display: flex;
        flex-wrap: wrap;
    }

}

/*MQ TABLET*/
@media only screen and (min-width: 769px) and (max-width: 1023px) {}

/*MQ DESKTOP*/
@media only screen and (max-width: 1024) {}